[Unit]
Description=Snowflacke, Pluggable Transport using WebRTC
After=network.target

[Service]
Type=simple
User=__APP__
Group=__APP__
WorkingDirectory=__INSTALL_DIR__/
ExecStart=__INSTALL_DIR__/snowflacke -log /var/log/__APP__/__APP__.log

[Install]
WantedBy=multi-user.target
